.wishlist-container {
  padding: 1rem;
  background-color: #f8f8f8;
  border-left: 2px solid #ddd;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.wishlist-item {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.wishlist-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 6px;
}
